/* HEADER */
#headerDiv {
	position: fixed;
	height: 60px;
	top: 0px;
	width: 100%;
	background-color: #007167;
	z-index: 1;
	/* darkgreen #007167 */
	/*  lightgreen #66b562 */
}

#headerTitle {
	font-family: serif;
	font-size: 25px;
	font-weight: bold;
	color: white;
}

/* INGREDIENT MENU */
#menuIngredientsDiv {
	height: 92vh;
	top: 60px;
	background-color: #66b562;
}

.ingredientsComponent {
}

/* FILTER MENU */
#menuFilterDiv {
	height: 92vh;
	top: 60px;
	background-color: #66b562;
}

.filterComponent {
	color: white;
}

/* CONTENT */
#contentDisplayDiv {
	height: 92vh;
	top: 60px;
}

.btn-submit {
	height: 60px;
	width: 200px;
	font-size: 18px;
	border-radius: 8px;
	margin-top: 40px;
	margin-right: 40px;
	white-space: pre-wrap;
	background-color: white;
	color: black;
}

/* FOOTER */
#footerDiv {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 60px;
	width: 100%;
	background-color: #474747;
	left: 0px;
}

#footerContent {
	font-family: serif;
	font-size: 20px;
	color: white;
	margin-left: 20px;
	margin-top: 10px;
}