/* HEADER */
#headerDiv {
	position: fixed;
	height: 60px;
	top: 0px;
	width: 100%;
	border: 1px solid black;
	z-index: 1;
}

#headerTitle {
	font-size: 20px;
	text-align: center;
	border: 1px solid black;
}

/* NAV */
#navDiv {
	position: fixed;
	height: 20px;
	top: 60px;
	width: 100%;
	text-align: center;
	border: 1px solid black;
	z-index: 1;
}

/* CONTENT */
#contentDisplayDiv {
	height: 100vh;
	border: 1px solid black;
	margin-top: 80px;
	text-align: center;
}

/* SOCIAL */
#socialDiv {
	left: 0px;
	height: 40px;
	width: 100%;
	text-align: center;
	border: 1px solid black;
}

/* SITE MAP */
#siteMapDiv {
	left: 0px;
	bottom: 0px;
	height: 60px;
	width: 100%;
	text-align: center;
	border: 1px solid black;
}

/*Miguel*/
#calendarios{
	margin: 0 auto;
	padding:3% 0;
	with: 100%;
	border: 1px solid black;
}

#cal{
	margin: 0 auto;
}

.fotoR{
	height: 80%;
	width: 20%;
}
.detalhe{
	height: 80%;
	width: 20%;
}

.descricao{
	height: 80%;
	width: 60%;
	text-align: left;
}

#quartosAluguer{
	height: 200px;
}
