/* HEADER */
#headerDiv {
	position: fixed;
	height: 60px;
	top: 0px;
	width: 100%;
	border: 1px solid black;
	z-index: 1;
}

#headerTitle {
	font-size: 20px;
	text-align: center;
	border: 1px solid black;
}

/* NAV */
#navDiv {
	position: fixed;
	height: 20px;
	top: 60px;
	width: 100%;
	text-align: center;
	border: 1px solid black;
	z-index: 1;
}

/* CONTENT */
#contentDisplayDiv {
	height: 100vh;
	border: 1px solid black;
	margin-top: 80px;
}

/* SOCIAL */
#socialDiv {
	left: 0px;
	height: 40px;
	width: 100%;
	text-align: center;
	border: 1px solid black;
}

/* SITE MAP */
#siteMapDiv {
	left: 0px;
	bottom: 0px;
	height: 60px;
	width: 100%;
	text-align: center;
	border: 1px solid black;
}